<div class="page-header">
  <h3>Rental #<%= @rental.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @rental.name %></dd>

      <dt>Address</dt>
      <dd><%= @rental.address %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @rental.image %>" class="img-responsive"></dd>

      <dt>Description</dt>
      <dd><%= @rental.description %></dd>

      <dt>Feature</dt>
      <dd><%= @rental.feature %></dd>

      <dt>Rent amount</dt>
      <dd><%= @rental.rent_amount %></dd>

      <dt>Date available</dt>
      <dd><%= @rental.date_available %></dd>

      <dt>End date</dt>
      <dd><%= @rental.end_date %></dd>

      <dt>User</dt>
      <dd><%= @rental.user_id %></dd>

      <dt>Roommates</dt>
      <dd><%= @rental.roommates %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/rentals" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @rental.sublettor %>
        <a href="/rentals/<%= @rental.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_rental/<%= @rental.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Rental has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @rental.bookmarks.each do |saved_rental| %>
        <li class="list-group-item">
          <a href="/saved_rentals/<%= saved_rental.id %>">
            <%= saved_rental.notes %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_rentals/<%= saved_rental.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/saved_rentals/<%= saved_rental.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_saved_rental/<%= saved_rental.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
