<!-- Validation failure messages -->
<% if @saved_rental.errors.any? %>
  <% @saved_rental.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Saved Rental #<%= @saved_rental.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_saved_rental/<%= @saved_rental.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rental_id -->
      <div class="form-group">
        <label for="rental_id" class="control-label">
          Rental
        </label>

        <%= select_tag(:rental_id, options_from_collection_for_select(Rental.all, :id, :name, @saved_rental.rental_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :id, @saved_rental.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @saved_rental.notes %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Saved Rental
      </button>
      or
      <a href="/saved_rentals/<%= @saved_rental.id %>">Cancel</a>
    </form>
  </div>
</div>
